body {
  font-size: 16px
}

.lorem {
  float: left;
  margin: 0 1.5%;
  width: 47%
}

.lorem h2 {
  font-size: 24px;
}

.lorem p {
  font-size: 16px;
}

.lorem small {
  font-size: 12px;
}
