@import "default"
@import url('fonts/fonts.css')
@import url('fonts/icons.css')

.container
	margin: 0 auto
	max-width: 1370px
	padding: 0 60px
	width: 100%

.header
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15)
	background: #FFFFFF
	height: 60px
	position: fixed
	top: 0
	transition: top 600ms
	width: 100%
	z-index: 10
	&__logo
		background: #333333
		float: left
		height: 100%
		padding: 10px 34px
		text-align: right
		width: 400px
	&__nav
		float: left
	&__menu
		display: none

.logo
	&__image
		cursor: pointer

.nav
	&__jar
		display: table
		margin: 0
		padding: 0
	&__item
		float: left
		list-style-type: none
	&__link
		color: #000000
		display: block
		margin: 0 50px
		padding: 20px
		text-decoration: none
		transition: background 200ms, color 200ms
		&:hover
			background: #FF5B00
			color: #FFFFFF
		&.current
			background: #FF5B00
			color: #FFFFFF
	&__close
		display: none

.slider
	&__slide
		background-position: center
		background-size: cover
		position: relative
		text-align: center
		&:after
			background: url('images/background.png') repeat
			content: " "
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%
	&__text
		color: #FFFFFF
		font-family: "PlexSans"
		font-size: 96px
		letter-spacing: 0.5em
		margin: 160px auto 0
		position: relative
		text-transform: uppercase
		z-index: 1
	&__link
		background: #FF5B00
		border-radius: 16px
		color: #FFFFFF
		display: inline-block
		font-size: 24px
		line-height: 30px
		margin: 82px 15px 88px
		padding: 0.1em 2em 0.33em
		position: relative
		text-decoration: none
		transition: background 300ms
		width: 380px
		z-index: 1
		&:hover
			background: #999999

.link
	&_grey
		background: #999999
		&:hover
			background: #FF5B00

.intro
	margin: 0 auto 84px
	max-width: 1060px
	padding: 84px 0 0

// .service
// 	border-bottom: 1px solid #FF5B00
// 	border-top: 1px solid #FF5B00
// 	margin: 0 auto 20px
// 	padding: 22px 0
// 	text-align: center
// 	&__topic
// 		margin-bottom: 22px
// 	&__offer
// 		margin: 0 auto
// 		width: 1170px

.topic
	color: #333333
	font-family: "PlexSans"
	font-size: 48px
	text-align: center
	text-transform: uppercase

.offer
	&__link
		color: #F77A2A
		display: inline
		font-size: 18px
		font-weight: 600
		padding-right: 10px
		position: relative
		text-decoration: none
		&:after
			content: "I"
			position: absolute
			right: 0
		&:last-child
			&:after
				display: none

.advantage
	padding-top: 66px
	text-align: center
	&__jar
		display: table
		margin: 77px auto 70px
		max-width: 1090px
		text-align: center
		width: 100%
	&__item
		display: inline
		float: left
		margin-bottom: 50px
		min-height: 167px
		width: 33%
		&:nth-child(3n+1)
			text-align: left
		&:nth-child(3n+3)
			text-align: right
	&__image
		margin-bottom: 16px
	&__text
		color: #F77A2A
		font-weight: 600

#brand
	border-bottom: 1px solid #FF5B00
.partner
	display: block
	margin: 0 auto 50px
	padding-top: 59px
	position: relative
	text-align: center
	&__item
		display: inline-block
		float: none
		margin: 42px 83px
		text-align: center
		vertical-align: bottom
	&__image
		cursor: pointer
		svg *
			transition: all 100ms
		&.image_grey svg *
			fill: #666666 !important
	&__text
		display: none

.popup
	background: rgba(76, 76, 76, 0.9)
	display: none
	height: 89.5%
	height: calc(100% - 60px)
	padding: 0
	position: absolute
	top: 60px
	width: 100%
	z-index: 5
	&__close
		cursor: pointer
		display: block
		padding: 15px
		position: absolute
		right: 0
		top: 0
		z-index: 6
	&__image
		display: table
		float: left
		height: 100%
		padding: 3.2% 3.2% 0 0
		text-align: right
		width: 26.4%
		svg
			height: auto
			max-height: 75px
			min-height: 34px
			width: 80%
			*
				fill: #ffffff
	&__jar
		color: #FFFFFF
		float: left
		font-size: 20px
		height: 100%
		padding: 4.8% 40px 3.2% 3.2%
		position: relative
		text-align: left
		width: 64.7%
	&__buttons
		bottom: 40px
		position: absolute
		right: 40px
	&__link
		border: 1px solid #ffffff
		color: #ffffff
		display: inline-block
		font-size: 18px
		margin-left: 16px
		padding: 0.553em 0.541em 0.633em
		text-decoration: none
		transition: background 200ms, color 200ms
		&:first-child
			margin-left: 0
		&:hover
			background: #ffffff
			color: rgba(0, 0, 0, 0.7)

.dealer
	margin: 0 auto 120px
	max-width: 786px
	padding-top: 60px
	&__topic
		margin-bottom: 12px
	&__jar
		background: #F77A2A
		padding: 22px
	&__form
		margin: 0 auto
		width: 532px

.form
	&__text
		color: #FFFFFF
		font-size: 13px
		margin-bottom: 16px
		padding: 0 6px
	&__column
		float: left
		width: 50%
	&__row
		clear: both
		display: table
		width: 100%
	&__error
		clear: both
		color: #000000
		font-size: 14px
		padding: 2px 6px 10px
	&__input
		border: 1px solid #ffffff
		color: #000000
		font-family: 'Montserrat', sans-serif
		font-size: 13px
		margin: 10px 6px
		padding: 18px 10px
		width: 254px
		&:placeholder
			color: #666666
		&.error
			border: 1px solid #000000
	&__textarea
		border: 1px solid #ffffff
		color: #000000
		font-family: 'Montserrat', sans-serif
		font-size: 13px
		height: 202px
		margin: 10px 6px
		max-height: 202px
		max-width: 254px
		min-height: 202px
		min-width: 254px
		padding: 10px
		width: 254px
		&:placeholder
			color: #666666
		&.error
			border: 1px solid #000000
	&__button
		float: right
		margin-right: 7px
		width: 160px

.switcher_checkbox
  display: inline-table
  height: 30px
  position: relative
  &::before
    color: #ffffff
    content: "\e915"
    font-family: 'monomoloco_ICON'
    font-size: 7px
    font-weight: 700
    left: 9px
    opacity: 0
    position: absolute
    top: 6px
    transition: opacity 0.3s
    z-index: 0
  .switcher__check
    background: transparent
    border: 1px solid #FFFFFF
    border-radius: 1px
    cursor: pointer
    display: block
    height: 15px
    left: 6px
    position: absolute
    top: 2px
    transition: all 0.3s
    width: 15px
    z-index: 1
  .switcher__text
    display: inline-block
    padding-left: 26px
    margin-left: 10px
    vertical-align: sub
		color: #ffffff
		font-size: 12px
  input[type="checkbox"]
    display: contents   // --- убрать если нет текста
    float: left   // --- убрать если нет текста
    visibility: hidden
    width: 0
  &.checked
    .switcher__check
      border: 1px solid rgba(255, 255, 255, 0.7)
    &::before
      opacity: 1
  &:hover
    cursor: pointer
    .switcher__check
      border: 1px solid rgba(255, 255, 255, 0.7)

.button
  background: transparent
  border: 0.147em solid grey
  color: inherit
  cursor: pointer
  display: inline-block
  outline: none
  padding: 0.553em 0.441em 0.633em
  text-align: center
  user-select: none

.button_color_white
  border: 1px solid #ffffff
  color: #ffffff
  transition: all 0.3s
  &:hover
    border: 1px solid rgba(255, 255, 255, 0.7)
    color: rgba(255, 255, 255, 0.7)
  &:active,&.disable
    border: 1px solid rgba(255, 255, 255, 0.7)
    color: rgba(255, 255, 255, 0.7)

.error+div
	color: #ffffff
	font-size: 11px
	padding: 0 6px

.contact
	position: relative
	width: 100%
	&__info
		background: rgba(102, 102, 102, 0.95)
		color: #ffffff
		height: 350px
		left: 540px
		margin: auto
		padding: 40px 25px
		position: absolute
		right: 0
		top: 70px
		width: 400px
		z-index: 1
	&__topic
		color: #ffffff
		margin-bottom: 16px
	&__text
		font-size: 13px
		line-height: 16px
		text-align: center
	&__link
		color: #ffffff
		display: block
		text-decoration: none
		&:hover
			text-decoration: underline
.map
	height: 490px
	width: 100%
	& > ymaps
		width:100% !important
	& > ymaps > ymaps
		width:100% !important
	// & > ymaps > ymaps > ymaps > ymaps:first-child
	// 	background: rgba(255, 100, 0, 0.1)
	.ymaps-2-1-72-places-pane
		z-index: 2501 !important
	.ymaps-2-1-72-image
		background-size: 100% 100%

.footer
	background: #333333
	height: 77px
	line-height: 74px
	width: 100%
	&__logo
		background: #333333
		float: left
		height: 100%
		padding: 0 34px
		text-align: right
		width: 400px
	&__item
		margin: 0 5px
		opacity: 0.3
		transition: opacity 300ms
		&:hover
			opacity: 1

.social
	height: 150px
	left: 0
	position: fixed
	top: 26%
	width: 50px
	z-index: 99
	&__item
		display: block
		height: 50px
		line-height: 50px
		text-align: center
		transition: opacity 200ms
		width: 50px
		&:hover
			opacity: 0.7
	&_vk
		background: #F77A2A
	&_telegram
		background: #FF5B00
	&_facebook
		background: #FF4500

.scroll-to-top
	position: fixed
	bottom: 105px
	right: 100px
	display: none
	z-index: 1
	span
		background: #F77A2A
		cursor: pointer
		display: block
		height: 50px
		line-height: 42px
		opacity: 1
		text-align: center
		transition: all 200ms
		width: 50px
		&:hover
			opacity: 0.8

// ----- Animation styles -----
@-webkit-keyframes zoomIn
  from
    opacity: 0
    -webkit-transform: scale3d(0.3, 0.3, 0.3)
    transform: scale3d(0.3, 0.3, 0.3)
  50%
    opacity: 1

@keyframes zoomIn
  from
    opacity: 0
    -webkit-transform: scale3d(0.3, 0.3, 0.3)
    transform: scale3d(0.3, 0.3, 0.3)
  50%
    opacity: 1

.zoomIn
  -webkit-animation-name: zoomIn
  animation-name: zoomIn

.animated
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.animated.infinite
  -webkit-animation-iteration-count: infinite
  animation-iteration-count: infinite

.animated.delay-1s
  -webkit-animation-delay: 1s
  animation-delay: 1s

.animated.delay-2s
  -webkit-animation-delay: 2s
  animation-delay: 2s

.animated.delay-3s
  -webkit-animation-delay: 3s
  animation-delay: 3s

.animated.delay-4s
  -webkit-animation-delay: 4s
  animation-delay: 4s

.animated.delay-5s
  -webkit-animation-delay: 5s
  animation-delay: 5s

.animated.fast
  -webkit-animation-duration: 800ms
  animation-duration: 800ms

.animated.faster
  -webkit-animation-duration: 500ms
  animation-duration: 500ms

.animated.slow
  -webkit-animation-duration: 2s
  animation-duration: 2s

.animated.slower
  -webkit-animation-duration: 3s
  animation-duration: 3s

@media (prefers-reduced-motion)
  .animated
    -webkit-animation: unset !important
    animation: unset !important
    -webkit-transition: none !important
    transition: none !important


@media screen and (max-width: 1550px)
	.slider
		&__text
			font-size: 80px

@media screen and (max-width: 1370px)
	.header
		&__logo
			width: 380px
	.nav
		&__link
			margin: 0 33px
	.slider
		&__text
			font-size: 72px
	.footer
		&__logo
			width: 380px

@media screen and (max-width: 1274px)
	.popup
		left: 0
		margin: auto
		right: 0
		width: 100%

@media screen and (max-width: 1214px)
	.header
		&__logo
			width: 330px
	.slider
		&__text
			font-size: 60px
		&__link
			font-size: 20px
	.footer
		&__logo
			width: 330px

@media screen and (max-width: 1164px)
	.header
		background: #333333
		&__menu
			cursor: pointer
			display: inline-block
			float: right
			margin: 20px 45px 20px 0
	.nav
		background: #FF5B00
		position: absolute
		right: -242px
		top: 60px
		transition: right 300ms
		&.show
			right: 0
		&__item
			float: none
		&__close
			color: #ffffff
			cursor: pointer
			display: block
			position: absolute
			right: 20px
			top: 10px
	.partner
		&__item
			margin: 42px 8%

@media screen and (max-width: 1052px)
	.slider
		&__text
			font-size: 50px
	.contact
		&__info
			left: 390px
	.popup
		height: auto
		max-height: none
		padding-bottom: 40px
		&__image
			float: none
			height: auto
			padding: 25px 0 0 0
			width: 100%
			svg
				display: block
				padding: 0 25px
				width: 45%
		&__jar
			float: none
			font-size: 18px
			height: auto
			padding: 40px 25px
			width: 100%
		&__link
			font-size: 16px
		&__buttons
			bottom: 0
			padding: 0 25px
			position: relative
			right: 0
			text-align: left

@media screen and (max-width: 846px)
	.container
		padding: 0 30px
	.slider
		&__text
			font-size: 40px
		&__link
			font-size: 18px
			width: 286px
	.contact
		&__info
			width: 40%
	.social
		left: -40px
		transition: left 300ms
		&:hover
			left: 0
	.scroll-to-top
		bottom: 75px
		right: 50px
		span
			height: 40px
			line-height: 34px
			width: 40px
			img
				width: 28px

@media screen and (max-width: 740px)
	.slider
		&__text
			letter-spacing: 0.25em
		&__link
			font-size: 16px
			width: 250px
	.advantage
		&__text
			font-size: 14px
	.contact
		&__info
			height: auto
			left: 0
			padding-bottom: 45px
			position: relative
			top: 0
			width: 100%

@media screen and (max-width: 650px)
	.dealer
		&__form
			width: 100%
	.form
		&__column
			width: 100%
		&__input
			margin: 10px 0
			width: 100%
		&__textarea
			height: 150px
			margin: 10px 0
			max-height: 202px
			max-width: 100%
			min-height: 150px
			min-width: 100%
			width: 100%
	.switcher_checkbox
		display: block

@media screen and (max-width: 580px)
	.slider
		&__text
			margin: 120px auto 0
		&__link
			display: block
			margin: 20px auto
			&:nth-child(2)
				margin-top: 65px
			&:last-child
				margin-bottom: 65px
	.topic
		font-size: 40px
	.partner
		padding-top: 40px
	.advantage
		&__jar
			margin: 77px auto 10px
		&__item
			width: 50%
			&:nth-child(3n+1)
				text-align: center
			&:nth-child(3n+3)
				text-align: center
	.dealer
		padding-top: 50px

@media screen and (max-width: 550px)
	.header
		&__logo
			width: 294px
		&__menu
			margin: 20px 34px 20px 0
	.slider
		&__text
			font-size: 34px
			letter-spacing: 0.15em
		&__link
			font-size: 16px
	.popup
		&__link
			display: block
			margin: 5px 0
	.footer
		&__logo
			width: 294px
		&__social
			float: right
			padding-right: 34px

@media screen and (max-width: 483px)
	.partner
		&__item
			margin: 30px 8%

@media screen and (max-width: 450px)
	.header
		height: 40px
		&__logo
			padding: 4px 34px
			text-align: left
			width: auto
		&__menu
			margin: 8px 34px 8px 0
	.logo
		&__image
			width: 180px
	.nav
		top: 40px
	.footer
		&__logo
			text-align: left
			width: auto
	.scroll-to-top
		right: 30px
	.switcher_checkbox
		margin-bottom: 15px

@media screen and (max-width: 400px)
	.container
		padding: 0 15px
	.slider
		&__text
			font-size: 30px
			letter-spacing: normal
		&__link
			padding: 0.1em 2em 0.33em
	.topic
		font-size: 34px
	.popup
		&__image
			svg
				width: 70%
	.advantage
		&__item
			width: 100%
	.footer
		&__logo
			text-align: center
			width: 100%
		&__social
			display: none