.grey {
  color: #A29DA3;
}

.purple {
  color: #5A45AB;
}

.orange {
  color: #EB733F;
}

.button {
  background: transparent;
  border: 0.147em solid #A29DA3;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0.953em 0.441em 1.033em;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button_type_text .icon {
  font-size: 1em;
  margin-left: 4px;
}

.button_type_text .icon::before {
  position: relative;
  top: 0.08em;
}

.button_type_icon .icon {
  font-size: 1.15em;
}

.button_type_icon .icon::before {
  position: relative;
  top: 0.147em;
}

.button_color_purple {
  background: #8E81C2;
  border: 0.147em solid #8E81C2;
  -webkit-border-radius: 0.294em;
  border-radius: 0.294em;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 14.118em;
}

.button_color_purple:hover {
  background: #5A45AB;
  border: 0.147em solid #5A45AB;
}

.button_color_purple:active,
.button_color_purple.disable {
  background: #C9D5ED;
  border: 0.147em solid #C9D5ED;
  color: #E3E9F5;
}

.button_color_white {
  border: 0.147em solid #8E81C2;
  -webkit-border-radius: 0.294em;
  border-radius: 0.294em;
  color: #8E81C2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 14.118em;
}

.button_color_white:hover {
  border: 0.147em solid #5A45AB;
  color: #5A45AB;
}

.button_color_white:active,
.button_color_white.disable {
  border: 0.147em solid #C9D5ED;
  color: #C9D5ED;
}

.button_color_orange {
  background: #EB733F;
  border: 0.147em solid #EB733F;
  -webkit-border-radius: 0.294em;
  border-radius: 0.294em;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 14.118em;
}

.button_color_orange:hover {
  background: #E2CD05;
  border: 0.147em solid #E2CD05;
}

.button_color_orange:active,
.button_color_orange.disable {
  background: #E2CD05;
  border: 0.147em solid #E2CD05;
  color: #453C48;
}

.button_color_transparent {
  background: transparent;
  border: 0;
  border-bottom: 0.147em solid rgba(0, 0, 0, 0);
  border-top: 0.147em solid rgba(0, 0, 0, 0);
  color: #8E81C2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 14.118em;
}

.button_color_transparent:hover {
  border-bottom: 0.147em solid #5A45AB;
  color: #5A45AB;
}

.button_color_transparent:active,
.button_color_transparent.disable {
  border-bottom: 0.147em solid #C9D5ED;
  color: #C9D5ED;
}

.button_size_auto {
  padding-left: 0;
  padding-right: 0;
  width: auto;
}

.button_size_small {
  background: #F9F8F8;
  border: 0.147em solid #E3E9F5;
  -webkit-border-radius: 0.735em;
  border-radius: 0.735em;
  color: #5A45AB;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.529em;
}

.button_size_small:hover {
  border: 0.147em solid #5A45AB;
}

.button_size_small:active,
.button_size_small.disable {
  background: #FFFFFF;
  border: 0.147em solid #E3E9F5;
  color: #E3E9F5;
}

.button_size_medium {
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: "Core Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 0.735em 0.441em;
  width: 15.739em;
}

.button_size_large {
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: "Core Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  padding: 0.735em 0.441em;
  width: 23.637em;
}

.grey {
  color: #A29DA3;
}

.purple {
  color: #5A45AB;
}

.orange {
  color: #EB733F;
}

.main #intro {
  margin-bottom: 4rem;
}

.main .intro {
  background: #5A45AB;
  color: #FFFFFF;
}

.main .intro__button {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.main .intro__comment {
  color: #A79AD9;
  font-size: .735rem;
}

.main .tous {
  background: #F9F8F1;
}

.main .how .task {
  margin-bottom: 2rem;
}

.main .presentation {
  margin-bottom: 10.5rem;
}

.main .presentation__column {
  border-top: 1px solid #EB733F;
  margin-top: 10rem;
  padding-top: 1.5rem;
}

.main .presentation__link {
  text-decoration: underline;
}

.main .presentation__link:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .main #main-slide {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1366px) {
  .main #main-slide {
    margin-bottom: 4rem;
  }
}

.grey {
  color: #A29DA3;
}

.purple {
  color: #5A45AB;
}

.orange {
  color: #EB733F;
}

.presentation__block {
  background: #8E81C2;
  height: 400px;
  width: 100%;
}

.presentation__jar {
  padding: 2.5rem 0 0;
}

.presentation__jar div:last-child {
  margin-bottom: 0;
}

.presentation__topic {
  margin-bottom: 2.4rem;
}

.presentation__subtopic {
  margin-bottom: 1.5rem;
}

.presentation__text {
  margin-bottom: 2.5rem;
}

.presentation__task {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1366px) {
  .presentation {
    position: relative;
  }

  .presentation__block {
    background: #8E81C2;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: -webkit-calc(50% - 0.5rem);
    width: calc(50% - 0.5rem);
  }

  .presentation__jar {
    display: table;
    float: right;
    padding: 2rem 0 2.5rem 1.5rem;
    width: 50%;
  }

  .presentation__task {
    margin-bottom: 2.5em;
  }

  .presentation_side_left .presentation__block {
    left: auto;
    right: 0;
  }

  .presentation_side_left .presentation__jar {
    float: left;
    padding: 2rem 1.5rem 2.5rem 0;
  }

  .presentation_side_left.presentation_size_other .presentation__block {
    width: -webkit-calc(100% - 41.67% - 0.5rem);
    width: calc(100% - 41.67% - 0.5rem);
  }

  .presentation_side_left.presentation_size_other .presentation__jar {
    width: 41.67%;
  }

  .presentation_size_other .presentation__block {
    width: -webkit-calc(41.67% - 0.5rem);
    width: calc(41.67% - 0.5rem);
  }

  .presentation_size_other .presentation__jar {
    width: 58.33%;
  }
}

.grey {
  color: #A29DA3;
}

.purple {
  color: #5A45AB;
}

.orange {
  color: #EB733F;
}

.link_color_purple {
  color: #8E81C2;
}

.link_color_orange {
  color: #EB733F;
}

.column__topic {
  margin-bottom: 0.5rem;
}

.column_size_three .column__block {
  float: left;
  margin: 0 1rem;
  width: -webkit-calc(33% - 1.5rem);
  width: calc(33% - 1.5rem);
}

.column_size_three .column__block:first-child {
  margin-left: 0;
}

.column_size_three .column__block:last-child {
  margin-right: 0;
}

.column_size_four .column__block {
  float: left;
  margin: 0 1rem;
  width: -webkit-calc(25% - 1.5rem);
  width: calc(25% - 1.5rem);
}

.column_size_four .column__block:first-child {
  margin-left: 0;
}

.column_size_four .column__block:last-child {
  margin-right: 0;
}

.grey {
  color: #A29DA3;
}

.purple {
  color: #5A45AB;
}

.orange {
  color: #EB733F;
}

.task {
  min-height: 64px;
  padding-left: 88px;
  position: relative;
}

.task__image {
  background: #EB733F;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: 0;
  height: 90px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 90px;
}

.task::before {
  background: #C9D5ED;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: 0;
  content: "";
  height: 64px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 64px;
}

.task_with_image {
  padding-left: 123px;
}

.task_with_image::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .task::before {
    bottom: auto;
  }
}